In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
# Chargement du fichier CSV
df = pd.read_csv("../base/achats.csv", encoding="ISO-8859-1", sep=';')
df

,id_achat,date_achat,id_produit,quantité,id_fournisseur,prix_unitaire,délai_livraison_jours
0,PO000001,22/03/2024,P00627,22,S035,129.62,14
1,PO000002,12/06/2024,P00469,51,S018,110.81,8
2,PO000003,19/01/2024,P00849,16,S046,140.58,8
3,PO000004,20/11/2024,P00484,16,S030,120.77,9
4,PO000005,07/06/2024,P00196,22,S046,256.05,13
...,...,...,...,...,...,...,...
9995,PO009996,19/06/2024,P00836,72,S037,22.63,4
9996,PO009997,08/08/2024,P00480,26,S012,236.97,9
9997,PO009998,15/12/2024,P00294,50,S026,77.55,10
9998,PO009999,10/04/2024,P00307,47,S042,102.40,14
9999,PO010000,20/05/2024,P00792,49,S002,171.21,13

In [6]:
# Conversion de la colonne date
df['date_achat'] = pd.to_datetime(df['date_achat'], dayfirst=True)
df

,id_achat,date_achat,id_produit,quantité,id_fournisseur,prix_unitaire,délai_livraison_jours
0,PO000001,2024-03-22,P00627,22,S035,129.62,14
1,PO000002,2024-06-12,P00469,51,S018,110.81,8
2,PO000003,2024-01-19,P00849,16,S046,140.58,8
3,PO000004,2024-11-20,P00484,16,S030,120.77,9
4,PO000005,2024-06-07,P00196,22,S046,256.05,13
...,...,...,...,...,...,...,...
9995,PO009996,2024-06-19,P00836,72,S037,22.63,4
9996,PO009997,2024-08-08,P00480,26,S012,236.97,9
9997,PO009998,2024-12-15,P00294,50,S026,77.55,10
9998,PO009999,2024-04-10,P00307,47,S042,102.40,14
9999,PO010000,2024-05-20,P00792,49,S002,171.21,13

In [7]:
# Création de nouvelles variables
df['montant_total'] = df['quantité'] * df['prix_unitaire']
df

,id_achat,date_achat,id_produit,quantité,id_fournisseur,prix_unitaire,délai_livraison_jours,montant_total
0,PO000001,2024-03-22,P00627,22,S035,129.62,14,2851.64
1,PO000002,2024-06-12,P00469,51,S018,110.81,8,5651.31
2,PO000003,2024-01-19,P00849,16,S046,140.58,8,2249.28
3,PO000004,2024-11-20,P00484,16,S030,120.77,9,1932.32
4,PO000005,2024-06-07,P00196,22,S046,256.05,13,5633.10
...,...,...,...,...,...,...,...,...
9995,PO009996,2024-06-19,P00836,72,S037,22.63,4,1629.36
9996,PO009997,2024-08-08,P00480,26,S012,236.97,9,6161.22
9997,PO009998,2024-12-15,P00294,50,S026,77.55,10,3877.50
9998,PO009999,2024-04-10,P00307,47,S042,102.40,14,4812.80
9999,PO010000,2024-05-20,P00792,49,S002,171.21,13,8389.29

In [8]:
# Extraction de caractéristiques temporelles
df['mois'] = df['date_achat'].dt.month
df['année'] = df['date_achat'].dt.year
df['jour_semaine'] = df['date_achat'].dt.dayofweek  # 0=lundi
df

,id_achat,date_achat,id_produit,quantité,id_fournisseur,prix_unitaire,délai_livraison_jours,montant_total,mois,année,jour_semaine
0,PO000001,2024-03-22,P00627,22,S035,129.62,14,2851.64,3,2024,4
1,PO000002,2024-06-12,P00469,51,S018,110.81,8,5651.31,6,2024,2
2,PO000003,2024-01-19,P00849,16,S046,140.58,8,2249.28,1,2024,4
3,PO000004,2024-11-20,P00484,16,S030,120.77,9,1932.32,11,2024,2
4,PO000005,2024-06-07,P00196,22,S046,256.05,13,5633.10,6,2024,4
...,...,...,...,...,...,...,...,...,...,...,...
9995,PO009996,2024-06-19,P00836,72,S037,22.63,4,1629.36,6,2024,2
9996,PO009997,2024-08-08,P00480,26,S012,236.97,9,6161.22,8,2024,3
9997,PO009998,2024-12-15,P00294,50,S026,77.55,10,3877.50,12,2024,6
9998,PO009999,2024-04-10,P00307,47,S042,102.40,14,4812.80,4,2024,2
9999,PO010000,2024-05-20,P00792,49,S002,171.21,13,8389.29,5,2024,0

In [9]:
# Vérification des valeurs manquantes
missing = df.isnull().sum()
df

,id_achat,date_achat,id_produit,quantité,id_fournisseur,prix_unitaire,délai_livraison_jours,montant_total,mois,année,jour_semaine
0,PO000001,2024-03-22,P00627,22,S035,129.62,14,2851.64,3,2024,4
1,PO000002,2024-06-12,P00469,51,S018,110.81,8,5651.31,6,2024,2
2,PO000003,2024-01-19,P00849,16,S046,140.58,8,2249.28,1,2024,4
3,PO000004,2024-11-20,P00484,16,S030,120.77,9,1932.32,11,2024,2
4,PO000005,2024-06-07,P00196,22,S046,256.05,13,5633.10,6,2024,4
...,...,...,...,...,...,...,...,...,...,...,...
9995,PO009996,2024-06-19,P00836,72,S037,22.63,4,1629.36,6,2024,2
9996,PO009997,2024-08-08,P00480,26,S012,236.97,9,6161.22,8,2024,3
9997,PO009998,2024-12-15,P00294,50,S026,77.55,10,3877.50,12,2024,6
9998,PO009999,2024-04-10,P00307,47,S042,102.40,14,4812.80,4,2024,2
9999,PO010000,2024-05-20,P00792,49,S002,171.21,13,8389.29,5,2024,0

In [10]:
# Encodage des variables catégorielles (id_produit, id_fournisseur)
df_encoded = pd.get_dummies(df, columns=['id_produit', 'id_fournisseur'], drop_first=True)
df

,id_achat,date_achat,id_produit,quantité,id_fournisseur,prix_unitaire,délai_livraison_jours,montant_total,mois,année,jour_semaine
0,PO000001,2024-03-22,P00627,22,S035,129.62,14,2851.64,3,2024,4
1,PO000002,2024-06-12,P00469,51,S018,110.81,8,5651.31,6,2024,2
2,PO000003,2024-01-19,P00849,16,S046,140.58,8,2249.28,1,2024,4
3,PO000004,2024-11-20,P00484,16,S030,120.77,9,1932.32,11,2024,2
4,PO000005,2024-06-07,P00196,22,S046,256.05,13,5633.10,6,2024,4
...,...,...,...,...,...,...,...,...,...,...,...
9995,PO009996,2024-06-19,P00836,72,S037,22.63,4,1629.36,6,2024,2
9996,PO009997,2024-08-08,P00480,26,S012,236.97,9,6161.22,8,2024,3
9997,PO009998,2024-12-15,P00294,50,S026,77.55,10,3877.50,12,2024,6
9998,PO009999,2024-04-10,P00307,47,S042,102.40,14,4812.80,4,2024,2
9999,PO010000,2024-05-20,P00792,49,S002,171.21,13,8389.29,5,2024,0

In [13]:
# Normalisation des variables numériques
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
cols_to_scale = ['quantité', 'prix_unitaire', 'délai_livraison_jours', 'montant_total']
df_encoded[cols_to_scale] = scaler.fit_transform(df_encoded[cols_to_scale])
df

,id_achat,date_achat,id_produit,quantité,id_fournisseur,prix_unitaire,délai_livraison_jours,montant_total,mois,année,jour_semaine
0,PO000001,2024-03-22,P00627,22,S035,129.62,14,2851.64,3,2024,4
1,PO000002,2024-06-12,P00469,51,S018,110.81,8,5651.31,6,2024,2
2,PO000003,2024-01-19,P00849,16,S046,140.58,8,2249.28,1,2024,4
3,PO000004,2024-11-20,P00484,16,S030,120.77,9,1932.32,11,2024,2
4,PO000005,2024-06-07,P00196,22,S046,256.05,13,5633.10,6,2024,4
...,...,...,...,...,...,...,...,...,...,...,...
9995,PO009996,2024-06-19,P00836,72,S037,22.63,4,1629.36,6,2024,2
9996,PO009997,2024-08-08,P00480,26,S012,236.97,9,6161.22,8,2024,3
9997,PO009998,2024-12-15,P00294,50,S026,77.55,10,3877.50,12,2024,6
9998,PO009999,2024-04-10,P00307,47,S042,102.40,14,4812.80,4,2024,2
9999,PO010000,2024-05-20,P00792,49,S002,171.21,13,8389.29,5,2024,0

In [14]:
# Aperçu du résultat
print(df_encoded.head())

   id_achat date_achat  quantité  prix_unitaire  délai_livraison_jours  \
0  PO000001 2024-03-22 -1.237001      -0.305617               1.610006
1  PO000002 2024-06-12 -0.119583      -0.530462               0.011747
2  PO000003 2024-01-19 -1.468191      -0.174606               0.011747
3  PO000004 2024-11-20 -1.468191      -0.411405               0.278124
4  PO000005 2024-06-07 -1.237001       1.205666               1.343630

   montant_total  mois  année  jour_semaine  id_produit_P00002  ...  \
0      -0.863479     3   2024             4              False  ...
1      -0.428193     6   2024             2              False  ...
2      -0.957133     1   2024             4              False  ...
3      -1.006413    11   2024             2              False  ...
4      -0.431025     6   2024             4              False  ...

   id_fournisseur_S041  id_fournisseur_S042  id_fournisseur_S043  \
0                False                False                False
1                False                False                False
2                False                False                False
3                False                False                False
4                False                False                False

   id_fournisseur_S044  id_fournisseur_S045  id_fournisseur_S046  \
0                False                False                False
1                False                False                False
2                False                False                 True
3                False                False                False
4                False                False                 True

   id_fournisseur_S047  id_fournisseur_S048  id_fournisseur_S049  \
0                False                False                False
1                False                False                False
2                False                False                False
3                False                False                False
4                False                False                False

   id_fournisseur_S050
0                False
1                False
2                False
3                False
4                False

[5 rows x 1057 columns]